{% extends 'base.html' %}

{% block title %}
Customers
{% endblock %}

{% block content %}
<h3 style="color: rgb(232, 88, 44);width: 464px;text-align: center">Our Customers</h3>
{% verbatim %}


<div ng-controller="Customers">
  <ul style="display:inline-block;">
    <div ng-repeat="customer in customers">
      <div>
        <li style="padding: 3px;border-bottom: 0.5px solid rgb(24, 197, 24);width: 440px;float: left;list-style: none">{{customer.customer_name}}</li><button ng-click="delete_customer(customer.id)" style="padding:0px;margin:0px;margin-top: 3.5px;height: 25px;float: left;margin-right: 4px;">X</button><button ng-click="update_customer(customer.id,new_customer)" style="padding:0px;margin:0px;margin-top: 3.5px;height: 25px;float: left;">Edit</button>
      </div>
    </div>
  </ul>
  <input type="text" placeholder="name" ng-model="new_customer"/>
  <button ng-click="add_new_customer(new_customer)">add</button>
</div>
  
{% endverbatim %}
{% endblock %}
{% block recent %}
<h3>Recent Registred Customers</h3>
{% for cus in recentcustomers %}
<div style="padding-top:5px;display:inline-block;border-bottom: 0.5px #b6a339 solid;width: 100%;">
  <img src="../../static/images/dossier.png"  style="padding: 0px;padding-top:6px;float: left;width: 10%;">
  <p style="float:left;padding-left: 7px;font-weight:bold;color:rgb(191,185,17);">{{cus.customer_name}}</p>
</div>
{% endfor %}
{% endblock %}