{% extends 'base.html' %}

{% block title %}
Customers
{% endblock %}

{% block content %}
<h3 style="border:0.5px rgb(240, 73, 73) solid; color: rgb(232, 88, 44);width: 464px;text-align: center">Our Customers</h3>
{% verbatim %}
<h3>Angular Data</h3>

<div ng-controller="Customers">
  <ul>
    <div ng-repeat="customer in customers">
      <li>{{customer.customer_name}}</li>
    </div>
  </ul>
  <input type="text" placeholder="name" ng-model="new_customer"/>
  <button ng-click="add_new_customer(new_customer)">add</button>
</div>
  
{% endverbatim %}
{% endblock %}
{% block recent %}
<h3>Recent Registred Customers</h3>
{% for cus in recentcustomers %}
<div style="padding-top:5px;display:inline-block;border-bottom: 0.5px #b6a339 solid;width: 100%;">
  <img src="../../static/images/dossier.png"  style="padding: 0px;padding-top:6px;float: left;width: 10%;">
  <p style="float:left;padding-left: 7px;font-weight:bold;color:rgb(191,185,17);">{{cus.customer_name}}</p>
</div>
{% endfor %}
{% endblock %}