{% extends 'base.html' %}




{% block title %}
Hotels
{% endblock %}

{% block content %}
<h3 style="border:0.5px rgb(240, 73, 73) solid; color: rgb(232, 88, 44);width: 500px;text-align: center">Available Hotels</h3>

{% verbatim %}
<h3>Angular Data</h3>

<div ng-controller="HotelReservation">
  <ul>
    <div ng-repeat="hotel in hotels">
      <li>{{hotel.hotel_name}}</li>
    </div>
  </ul>
  <input type="text" ng-model="new_hotel"/>
  <button ng-click="add_new_hotel(new_hotel)">add</button>
</div>
  
{% endverbatim %}
{% endblock %}

{% block recent %}
<h3>Most New Hotels</h3>
{% for h in recenthotels %}
<div style="padding-top:10px;padding-bottom:10px;display:inline-block;border-bottom: 0.5px #b68039 solid">
  <img src="http://www.iconsplace.com/icons/preview/ffb000/user-256.png" width="40px" style="padding: 0px;float: left;width: 15%;">
  <p style="padding-left:12px;text-align:left;float: left;width: 80%;font-weight: bold;color:rgb(191, 185, 17)">{{h.hotel_name}}</p>
</div>
{% endfor %}
{% endblock %}