{% extends 'base.html' %}

{% block title %}
Reservation
{% endblock %}

{% block content %}
<h3 style="padding-left:60px;padding-right:60px;border:0.5px rgb(240, 73, 73) solid; color: rgb(232, 88, 44);width: 464px;text-align: center">List of reservations</h3>
{% verbatim %}
<h3>Angular Data</h3>

<div ng-controller="Reservations">
  <ul>
    <div ng-repeat="res in reservations">
      <li>{{res.customer}} reserved on  {{res.hotel}} from {{res.start_time}}  to {{res.end_time}}</li>
    </div>
  </ul>
  <input type="text" placeholder="your name" ng-model="res_customer"/>
  <input type="text" placeholder="hotel name" ng-model="res_hotel"/>
  <p>for start time and end time it should be like that:  2018-07-09T00:00:00Z this another example  2018-08-01T10:22:02Z /  year-month-dayThour-minute-secondZ</p>
  <input type="text" placeholder="start time" ng-model="res_starttime"/>
  <input type="text" placeholder="end time" ng-model="res_endtime"/>

  <button ng-click="add_new_reservation(res_hotel,res_customer,res_starttime,res_endtime)">add</button>
</div>
  
{% endverbatim %}
{% endblock %}

{% block recent%}
<h3>Recent Reservations</h3>
{% for res in recentreservation %}
<div style="padding-top:5px;display:inline-block;border-bottom: 0.5px #b6a339 solid;width: 100%;">
  <img src="../../static/images/dossier.png"  style="padding: 0px;padding-top:6px;float: left;width: 10%;">
  <p style="float:left;padding-left: 7px;font-weight:bold;color:rgb(191,185,17);">{{res.customer}} reserved in {{res.hotel}}</p>
</div>
      
{% endfor %}
{% endblock %}