{% extends 'base.html' %}

{% block title %}
Reservation
{% endblock %}

{% block content %}
<h3 style="padding-left:60px;padding-right:60px;color: rgb(232, 88, 44);width: 464px;text-align: center">List of reservations</h3>
{% verbatim %}


<div ng-controller="Reservations">
  <ul style="display:inline-block;">
    <div ng-repeat="res in reservations">
      <li style="padding: 3px;border-bottom: 0.5px solid rgb(24, 197, 24);width: 440px;float: left;list-style: none">{{res.customer}} reserved on  {{res.hotel}} from {{res.start_time}}  to {{res.end_time}}</li><button ng-click="delete_customer(customer.id)" style="padding:0px;margin:0px;margin-top: 3.5px;height: 25px;float: left;margin-right: 4px;">X</button><button ng-click="update_reservation(res.id,res_hotel,res_customer)" style="padding:0px;margin:0px;margin-top: 3.5px;height: 25px;float: left;">Edit</button>
    </div>
  </ul>
  <input type="text" placeholder="your name" ng-model="res_customer"/>
  <input type="text" placeholder="hotel name" ng-model="res_hotel"/>
  
 

  <button ng-click="add_new_reservation(res_hotel,res_customer)">add</button>
</div>
  
{% endverbatim %}
{% endblock %}

{% block recent%}
<h3>Recent Reservations</h3>
{% for res in recentreservation %}
<div style="padding-top:5px;display:inline-block;border-bottom: 0.5px #b6a339 solid;width: 100%;">
  <img src="../../static/images/dossier.png"  style="padding: 0px;padding-top:6px;float: left;width: 10%;">
  <p style="float:left;padding-left: 7px;font-weight:bold;color:rgb(191,185,17);">{{res.customer}} reserved in {{res.hotel}}</p>
</div>
      
{% endfor %}
{% endblock %}